/* Light mode styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #000;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 24px;
}

.theme-toggle-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.container {
    display: flex;
    height: calc(100vh - 60px); /* Adjust height based on header size */
}

.left-panel, .right-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.left-panel {
    width: 60%;
}

.right-panel {
    width: 40%;
}

.control-panel {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.control-panel .btn {
    margin-right: 10px;
}

.run-btn {
    order: o; /* Position run button to the left */
}

.filename-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    background-color: #f0f0f0; /* Light gray background */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 5px;
}

.filename-container input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    flex: 1; /* Take remaining space */
}

.filename-icon {
    margin-left: 5px;
    color: #666;
    font-size: 16px;
}

.save-btn {
    margin-left: auto; /* Push save button to the right */
}

.languages {
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
}

.editor-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.editor {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    overflow-y: auto;
}

.right-panel {
    display: flex;
    flex-direction: column;
}

.output-header {
    background-color: #333;
    color: #fff;
    padding: 18px;
}

.output {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    overflow-y: auto;
    padding: 10px;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #181818;
    color: #ccc;
}

.dark-mode .header, .dark-mode .control-panel, .dark-mode .output-header {
    background-color: #333;
}

.dark-mode .editor, .dark-mode .output {
    background-color: #333;
    color: #ccc;
}

.dark-mode .control-panel label, .dark-mode .btn {
    color: #ccc;
    background-color: #090909;
}

.logo {
    margin-right: 10px;
}

.logo img {
    height: 40px; /* Adjust height as per your logo size */
    vertical-align: middle;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    color: #f7f5f5; /* Adjust color as needed */
}
